@model AdminSeaSharp.Models.Guest

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<h1>Redigera gäst</h1>
<br />
<form method="post">
   <!-- <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" />

    </div>-->
    <div class="form-group">
        <label asp-for="Firstname"></label>
        <input class="form-control" asp-for="Firstname" />

    </div>
    <div class="form-group">
        <label asp-for="Lastname"></label>
        <input class="form-control" asp-for="Lastname" />

    </div>
    <div class="form-group">
        <label asp-for="Street_Adress"></label>
        <input class="form-control" asp-for="Street_Adress" />

    </div>
    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <input class="form-control" asp-for="PostalCode" />

    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input class="form-control" asp-for="City" />

    </div>
    <div class="form-group">
        <label asp-for="Phonenumber"></label>
        <input class="form-control" asp-for="Phonenumber" />

    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <input class="form-control" asp-for="Type" />

    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <input class="form-control" asp-for="Status" />

    </div>
    <div class="form-group">
        <label asp-for="E_Mail"></label>
        <input class="form-control" asp-for="E_Mail" />

    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" readonly />

    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-sm btn-primary">Edit</button>
    </div>

</form>

@if (ViewBag.Result =="Succes")
{
    <h2>Guest</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>FirstName</th>
                <th>LastName</th>
                <th>StreetAddress</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>PhoneNumber</th>
                <th>Type</th>
                <th>Status</th>
                <th>E_mail</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>@Model.Firstname</td>
                <td>@Model.Lastname</td>
                <td>@Model.Street_Adress</td>
                <td>@Model.PostalCode</td>
                <td>@Model.City</td>
                <td>@Model.Phonenumber</td>
                <td>@Model.Type</td>
                <td>@Model.Status</td>
                <td>@Model.E_Mail</td>
                <td>@Model.Password</td>
            </tr>
        </tbody>
    </table>
}

<div>
    <a asp-action="Index">Tillbaka</a>
</div>





