@model SeaSharpHotel_Gäst.Models.Guest

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_LayoutLogedIn.cshtml";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<h1>@Html.DisplayFor(m => m.Firstname) @Html.DisplayFor(m => m.Lastname)</h1>
<p>
    @Html.ActionLink("Redigera profil", "Edit", "Guest", new { id = Model.Id})
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th>
                Adress
            </th>
            <th>
                Postnummer
            </th>
            <th>
                Stad
            </th>
            <th>
                Telefonnummer
            </th>
            <th>
                E-Mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(m => m.Firstname)
            </td>
            <td>
                @Html.DisplayFor(m => m.Lastname)
            </td>
            <td>
                @Html.DisplayFor(m => m.Street_Adress)
            </td>
            <td>
                @Html.DisplayFor(m => m.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(m => m.City)
            </td>
            <td>
                @Html.DisplayFor(m => m.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(m => m.E_Mail)
            </td>
            <td>
                <a href="http://193.10.202.81/Seasharp">Room Bookings</a> <br />
                <a href="http://informatik12.ei.hv.se/resakt/Guest">Restaurant & Activities Booking</a>
            </td>
        </tr>
    </tbody>
</table>