@model SeaSharpHotel_Gäst.Models.Guest

@{
    ViewData["Title"] = "Profile";
}

<p>@Html.ActionLink("Edit my information", "Edit", "Guest")</p>

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<h1>@Html.DisplayFor(m => m.Firstname) @Html.DisplayFor(m => m.Lastname)</h1>
<p>
    <a asp-action="Edit">Edit Profile</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Adress (Street)
            </th>
            <th>
                Post Code
            </th>
            <th>
                City
            </th>
            <th>
                Telefone Number
            </th>
            <th>
                E-Mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(m => m.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Street_Adress)
                </td>
                <td>
                    @Html.DisplayFor(m => m.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(m => m.City)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(m => m.E_Mail)
                </td>
               <td>
                    @Html.ActionLink("Edit", "Edit", "Guest", new { id = 2 }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    </tbody>
</table>
