@model SeaSharpHotel_Gäst.Models.InlogModel

@{
    ViewData["Title"] = "Sign In";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <h2>Sign In</h2>
    <br />

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>User email:</td>
                <td>@Html.EditorFor(m => m.GastMejl)</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>@Html.PasswordFor(m => m.Losenord)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Log in" /></td>
            </tr>

        </table>
        <p>@ViewBag.FelMeddelande</p>

        <br />
        @Html.ActionLink("To my pages >", "Index", "Gast")
        <br />
        @Html.ActionLink("< Back to homepage", "Index", "Home")

    }
</body>
</html>
