@model SeaSharpHotel_Gäst.Models.GuestLogin

@{
    ViewData["Title"] = "Sign In";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <h3>Sign In</h3>
    <br />

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>User email:</td>
                <td>@Html.TextBoxFor(m => m.E_Mail)</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Sign in" /></td>
            </tr>

        </table>
        <p>@ViewBag.FelMeddelande</p>

        <br />
        @Html.ActionLink("To my pages >", "Index", "Guest")
        <br />
        @Html.ActionLink("< Back to homepage", "Index", "Home")

    }
</body>
</html>
